APP_NAME="Valorant Atlas"
APP_ENV=local
APP_DEBUG=true
APP_TIMEZONE="America/Sao_Paulo"
APP_LOCALE=pt-BR

API_BASE_URL="https://valorant-api.com/v1"
API_TIMEOUT=10
API_CONNECT_TIMEOUT=5
API_LANGUAGE=pt-BR

# Opcional para customizar User-Agent nas requisicoes HTTP
HTTP_USER_AGENT="ValorantAtlas/1.0 (+https://github.com/AndersonCav/Valorant)"
